section.contacts
	a(href="tel:+63373128").contacts__contact
		i(aria-hidden="true").fa.fa-mobile.contacts__icon
		span.contact__text 6337 3128
	a(href="mailto:info@business.co").contacts__contact
		i(aria-hidden="true").fa.fa-envelope.contacts__icon.contacts__icon--email
		span.contact__text info@business.co
	a(href="facebook.com").contacts__contact.contacts__contact--facebook
		i(aria-hidden="true").fa.fa-facebook
