section.form-section
	.container
		+title('Get your free facebook analysis now', 'Enter your details below')

		.btn-down: a(href="#").arrow-down: i.fa.fa-angle-down

		.form-container
			form(action="#" method="post").form

				button(type="button").form__close-button x

				.form__text Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint, modi iure blanditiis temporibus hic voluptatibus nesciunt ipsa esse? Sint quaerat dolore autem asperiores voluptates fugiat libero vero maiores enim aut.

				.form__fields
					input(type="text" placeholder="Your name").form__input

					input(type="text" placeholder="Contact number").form__input

					input(type="text" placeholder="Contact name").form__input

				button(type="submit").btn.btn--text-uppercase.btn--red Submit now

