header.main-header
	.main-header__top
		.container
			include contacts

	.container
		.main-header__bottom
			include logo

			include nav

			a(href="#").btn.main-header__btn.btn--red Free Consultation
